@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tiny-slider/dist/tiny-slider.css";

@import url('https://fonts.googleapis.com/css?family=Kameron:400,700|Raleway:200,300,400,500,600,700,900');

.mobile-menu-toggle {z-index: 999!important;opacity: 1.0!important;}.desktop-menu {display:none;}.non-stick {position: relative;}.stick {position: sticky;top: 0px;margin-top: 120px;z-index:999;height: 100px!important;background-color: #fff!important;padding-top: 0px!important;transition: .2s;display: none;}@media screen and (min-width:768px) {.stick {display: block;}.mobile-menu-button {display: none;}.desktop-menu {display:block;}}

.mobile-menu {
  z-index: -999;
  opacity: 0;
  position:absolute;
  width:100%;
  top: 0;
  left: 0;
  right: 0;
  transition: .2s;
}

.mobile-menu-button button {
  background-color: transparent;
  border-color: transparent;
}