<style>
  
</style>

<footer id="footer" class="bg-grey-lighter flex flex-wrap py-24">
  <p class="w-full font-raleway text-sm text-center pb-5">{{ .Site.Params.Address.Street }}, {{ .Site.Params.Address.City }}, {{ .Site.Params.Address.State }} {{ .Site.Params.Address.Zip }} <span class="block md:inline bg-blue text-white text-lg text-center font-bold p-2 md:p-1 my-5 md:my-0 mx-2 rounded"><a href="tel:{{ .Site.Params.contactNumbers.Phone }}"> {{ .Site.Params.contactNumbers.Phone }} </a></span> {{ .Site.Params.Email.Email }}</p>
  <div class="w-5/6 mx-auto text-center py-4 lg:py-2">
    <p class="font-raleway text-xs text-black"><span class="font-normal">&copy; 2019 - {{ dateFormat "Jan 2, 2006" now }}</span> <span class="font-bold">{{ .Site.Title }}</span></p>
  </div>
</footer>