<style>
.desktop-menu-item {
  transition: .2s;
}
body {
  max-width: 1920px;
  margin: auto;
}
</style>

<div id="header-functions" class="z-50">

<section id="header" class="flex flex-wrap items-center z-50 header-container">
{{ partial "site-navi-left.html" . }}
  <div class="w-1/2 md:w-1/4 lg:w-48 m-0 text-left md:text-center px-2 pl-5 py-8 lg:py-0 header-box">
    <a id="logo" class="mx-auto" href="/">
      <img class="w-32 md:w-38" src="{{ .Site.Params.logos.logo }}">
    </a>
  </div>
{{ partial "site-navi-right.html" . }}
</section>

<div class="bg-black h-screen mobile-menu">
  <div class="mobile-menu-container">
  <div class="flex flex-wrap items-center pr-12 pl-5 md:pl-0 md:px-16 h-48 lg:h-32">
  <a id="mobile-menu-logo" class="w-1/2 text-left" href="/">
    <img class="logo" src="{{ .Site.Params.Logos.Mobile_menu_logo }}" width="130px">
  </a>
  <i class="w-1/2 text-3xl md:text-5xl text-white text-right fas fa-times close-menu"></i>
  </div>
  <div class="flex flex-wrap mobile-menu-list">
    {{ $currentNode := . }}
    {{ range .Site.Menus.mobile }}
    <a class="{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} active{{end}}w-3/4 mx-auto font-raleway text-white text-center text-4xl md:text-5xl font-thin no-underline pb-8 mobile-menu-item" href="{{.URL}}">{{ .Name }}</a>
    {{ end }}
  </div>
</div>
</div>

</div>