<nav id="navigation-wrapper" class="w-1/2 md:w-5/12 text-left mr-auto">

<div class="w-full text-left items-center desktop-menu">
  {{ $currentNode := . }}
  {{ range .Site.Menus.desktop_right }}
  <a class="{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} active{{end}} {{ if .Post }}scroll{{ else }}{{ end }} w-1/4 font-raleway text-base text-white no-underline uppercase font-black opacity-75 hover:opacity-100 py-2 mx-3 desktop-menu-item {{ lower .Name }}-menu" href="{{.URL}}"><span class="mx-auto">{{ .Name }}</span></a>
  {{ end }}
</div>

<div id="mobile-menu" class="w-full text-right pr-12">
  <div class="mobile-menu-button">
    <i class="text-3xl md:text-5xl text-right text-white fas fa-bars"></i>
  </div>
</div>

</nav>